@CHARSET "UTF-8";

/* Mask Cls*/

.x-mask-fixed {
	opacity: 0.8;
	background: #000;
}

/* Fields are over padded from top so some characters like "_" are not visible */
.x-form-text-default {
	padding-top: 3px;
}

.x-window-default {
    border-color: #B4B4B4;
}

.x-window-header-default {
	border-color: #B4B4B4;
}


.x-progress-default .x-progress-text {
    font-weight: normal;
}

.x-odch-field-readonly .x-form-trigger-wrap-default {
	border-color: none;
    border-style: none !important;
    border-width: none !important;
}
.panelEdit{top:0!important; height:100% !important;}

.x-odch-action-column {
    margin-right: 10px;
    height: 20px;
    width : 20px;
}
.x-list-plain {
	width : 100%;
}

.x-list-plain th {
	background-color: #BCBCBC;
}
.x-list-plain th, .x-list-plain tr, .x-list-plain td{
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	max-width: 50px !important;
	overflow: hidden;
	border-right: 1px thin #EFEFEF;
	border-bottom: 1px thin #EFEFEF;
}

.x-list-plain th, .x-list-plain td {
	border-right: 1px thin #EFEFEF;
	border-bottom: 1px thin #EFEFEF;
}

/* .x-btn-inner-default-toolbar-small {
    color: white;
} */
.x-panel-header-default {
    background-color: #5a5a5a;
}

.x-boundlist-item .chkCombo {
    background: transparent url(../js/lib/ExtJs-5.0.1/packages/ext-theme-neptune/resources/images/menu/default-unchecked.png);
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
}
.x-boundlist-selected .chkCombo{
    background: transparent url(../js/lib/ExtJs-5.0.1/packages/ext-theme-neptune/resources/images/menu/default-checked.png);
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
}


/** Fieldset title **/

.x-fieldset-header-default > .x-fieldset-header-text {
	color: maroon;
	font: 13px/16px helvetica,arial,verdana,sans-serif;
}

#placeHoldersPanel {
    border-left: 1px solid #042453;
    border-top: 1px solid #B4B4B4;
}

.x-ia-placehoder-div
{
	color : #007068;
	font-weight : bold;
}

.x-btn-default-toolbar-small {
    border-color: #2673ad;
}
.x-btn-default-toolbar-small {
    background-color: #05334a;
    background-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
}

.x-btn-over.x-btn-default-toolbar-small
{
	background-color: #2673ad;
    background-image: none;
}

.x-btn-focus.x-btn-default-toolbar-small
{
	background-color: #05334a;
    background-image: none;
}

.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background-color: #05334a;
    background-image: none;
}


.x-btn-inner-default-toolbar-small {
    color: #fff;
    font: bold 15px/16px calibri,arial,verdana,sans-serif;
    max-width: 100%;
    padding: 0 5px;
}


/* k15 modifications */

.x-window-header-default-top {
    /* background-color: #042453; */
    background-color: #05334A;
    
}


.x-btn-default-small {
    background-color: #05334a !important;
    background-image: -moz-linear-gradient(center top , #4b9cd7, #08a9c5 50%, #358ac8 51%, #b5e5ee) !important;
    border-radius: 3px !important;
    border-style: solid !important;
    border-width: 1px !important;
    padding: 3px !important;
        background-image: none !important;
}

 .x-toolbar-footer {
	background-color: lightgray !important;
}
.x-odch-grid .x-grid-empty {
    font: 16px helvetica,arial,verdana,sans-serif;
    text-align: center;
    position: relative;
    top: 40%;
    background: transparent !important;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    font-size: 23px !important;
    color: #05334a;
    font-weight: bold !important;
}
.x-odch-hometab .x-tab-bar-plain.x-tab-bar-vertical > .x-tab-bar-body-default
{
min-width:0 !important;
}

.x-grid-item{
	font: normal 16px/15px calibri, arial, verdana, sans-serif;
}

.x-btn-default-toolbar-medium{
	background-color:lightgray !important;
}

.x-column-header {
	 font: bold 15px/15px calibri, arial, verdana, sans-serif !important;
}

.x-panel-header-title-default{
	font-family: calibri, arial, verdana, sans-serif;
	font-size: 15px;
}

.x-form-item-label-default{
	font: bold 15px/15px calibri, arial, verdana, sans-serif !important;
}

.x-tab-inner-default{
	font: bold 15px/15px calibri, arial, verdana, sans-serif !important;
}

.x-window-header-title-default{
	font: bold 15px/15px calibri, arial, verdana, sans-serif !important;
}

.x-form-text-default{
	font: normal 15px/15px calibri, arial, verdana, sans-serif;
    min-height: 23px !important;
    color:black;
    border:1px solid lightgray !important;
}
.x-form-trigger-default{
	color:black;
    border:1px solid lightgray !important;
    width: 25px !important; 
}
.x-tab-default-left{
	border-style: none !important;
}
.x-odch-home-footer{
	background:#373737 !important;
}




